/*Styles generaux*/
* {
  font-family: "Raleway", Arial, Georgia, sans-serif;
}
.grey {
  background-color: #f2f2f2;
}
.colorblue {
  color: #0065fc;
}
.colorgrey {
  color: #f2f2f2;
}
.gras {
  font-weight: bold;
}
.medium {
  font-size: medium;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
/*page sauf footer*/
.contenu {
  max-width: 1340px;
  margin: auto;
  padding: 5px;
}
/* header*/
.banniere {
  height: 100px;
  width: auto;
  position: relative;
}
.headerlogo {
  padding-top: 22px;
}
/*nav in header*/
.menu {
  text-align: center;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: absolute;
  right: 0px;
  height: 100px;
  width: auto;
  min-width: 33%;
}
.parthebergements:hover {
  color: #0065fc;
  border-top: 2px #0065fc solid;
  color: #0065fc;
  padding: 40px 0;
}
.partactivites:hover {
  color: #0065fc;
  border-top: 2px #0065fc solid;
  color: #0065fc;
  padding: 40px 0;
}
/*section 1 recherche et filtres*/
/* form - Barre de recherche */
.search {
  display: flex;
  height: 50px;
}
.searchicone {
  border: 1px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
  width: 50px;
  text-align: center;
}
.fa-map-marker-alt {
  padding-top: 15px;
}
.zonesearch {
  display: flex;
  border: 1px solid #f2f2f2;
  border-right: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  width: auto;
}
#rechercher {
  border: none;
  padding-left: 15px;
  width: 220px;
}
#rechercher::placeholder {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}
.iconesearch {
  width: auto;
}
.boutonsearch {
  height: 100%;
  background-color: #0065fc;
  color: white;
  border: 1px solid #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 130px;
  font-weight: bold;
}
.loupe {
  display: none;
}
/* Les filtres */
.filters {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.noborder {
  margin-right: 20px;
}
.filterchoice {
  display: inline-block;
  height: 44px;
  border: 2px solid #f2f2f2;
  border-radius: 44px;
  border-left: none;
  margin-right: 20px;
}
.filterchoice:hover {
  background-color: rgba(222, 235, 255, 0.7);
}
.filtericone {
  display: inline-block;
  background-color: #deebff;
  border: 1px solid #deebff;
  border-radius: 44px;
  height: 44px;
  width: 44px;
  margin-right: 4px;
}
.filterselection .fas {
  padding: 13px;
}
.option {
  padding-right: 15px;
}
/*Zone info under filter */
.fa-info {
  font-size: 0.75em;
  color: #0065fc;
}
.fa-circle {
  color: #f2f2f2;
}
/* Section 2 carte hébergements et aside */
.section2 {
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
}
.section2 .fa-star {
  font-size: 0.75em;
}
/*carte hébergements */
#hebergements {
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  flex: 1;
  padding: 0 30px;
}
#hebergements .cardsection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 460px;
}
#hebergements .card {
  background-color: white;
  border: 5px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 230px;
  height: 195px;
}
#hebergements .imgmini {
  height: 125px;
  width: 100%;
  object-fit: cover;
}
#hebergements .description {
  padding: 2px 0 0 10px;
}
#hebergements .description > p {
  margin: 0;
}
/* aside */
.highlights {
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
  padding: 10px 0;
}
.highlights .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  width: 330px;
}
.highlights .card {
  background-color: white;
  border: 5px solid white;
  border-radius: 20px;
  height: 130px;
  width: 330px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.highlights .imgmini {
  width: 125px;
  object-fit: cover;
  object-position: center;
}
.highlights .description {
  width: 170px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.highlights .description p {
  margin-top: 5px;
}
/*carte article activites*/
#activites .cardsection {
  display: grid;
  grid-template: auto 2px auto / repeat(4, 1fr);
  height: 420px;
  margin-bottom: 30px;
  gap: 15px;
}
.vieuxport {
  grid-column: 1;
  grid-row: 1 / 4;
}
.pomegues {
  grid-column: 2;
  grid-row: 1 / 3;
  height: 230px;
}
.frioul {
  grid-column: 2;
  grid-row: 3;
  height: 170px;
  margin-top: auto;
}
.parcnat {
  grid-column: 3;
  grid-row: 1 / 4;
}
.ndg {
  grid-column: 4;
  grid-row: 1;
  height: 190px;
}
.longchamp {
  grid-column: 4;
  grid-row: 2 / 4;
  height: 200px;
}
#activites .cardsection > div {
  border: 1px solid #f2f2f2;
  box-shadow: 5px 7px 7px #f2f2f2;
  border-radius: 20px;
  overflow: hidden;
  width: auto;
}
#activites .imgmini {
  object-fit: cover;
  width: 100%;
  height: 70%;
}
#activites .imgmed {
  object-fit: cover;
  width: 100%;
  height: 85%;
}
#activites .card > .titre {
  padding-left: 12px;
}
/* Footer */
.footer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
}
.footer > .part {
  flex: 1;
  padding: 10px;
}
.footernav {
  padding: 0;
}
.footernavitems {
  padding-bottom: 10px;
}

@media all and (max-width: 480px) {
  .contenu {
    padding: 0;
  }
  .headerlogo {
    padding-top: 0;
  }
  .menu {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    border-bottom: 2px solid #f2f2f2;
  }
  .inscription {
    grid-row: 1;
    grid-column: 2;
    text-align: end;
    padding-right: 10px;
  }
  .parthebergements {
    grid-column: 1;
    grid-row: 2;
  }
  .partactivites {
    grid-column: 2;
    grid-row: 2;
  }
  .parthebergements:hover {
    color: #0065fc;
    border-bottom: 2px #0065fc solid;
    color: #0065fc;
    border-top: none;
    padding: 16px 0;
  }
  .partactivites:hover {
    color: #0065fc;
    border-bottom: 2px #0065fc solid;
    color: #0065fc;
    border-top: none;
    padding: 16px 0;
  }
  /*section 1 recherche et filtres*/
  .section1 {
    padding: 5px;
  }
  .search {
    width: auto;
    margin: auto;
  }
  .zonesearch {
    width: 100%;
  }
  #rechercher {
    width: 100%;
  }
  .loupe {
    display: inline-block;
    color: white;
    background-color: #0065fc;
    height: 100%;
    border: 1px #0065fc solid;
    border-radius: 15px;
    width: 50px;
  }
  .boutonsearch {
    display: none;
  }
  .filters {
    display: inline-block;
    width: auto;
    margin: auto;
  }
  .filterchoice {
    margin-bottom: 15px;
    height: auto;
  }
  .info {
    display: flex;
  }
  .infotext {
    margin-left: 5px;
  }
  /*section2 carte hébergements et activités*/
  .section2 {
    flex-direction: column-reverse;
    margin: auto;
  }
  .highlights {
    border-radius: 0;
    margin: auto;
    width: auto;
  }
  .highlights .top {
    width: 95%;
  }
  .highlights .card {
    width: 95%;
  }
  .highlights .description {
    margin-right: auto;
    margin-left: auto;
  }
  #hebergements {
    background: none;
    border: none;
    margin: auto;
    padding: 5px;
    width: 100%;
  }
  #hebergements .cardsection {
    flex-direction: column;
    height: auto;
  }
  #hebergements .card {
    box-shadow: 3px 3px 5px #f2f2f2;
    width: 97%;
  }
  /* article activités*/
  #activites {
    width: auto;
    margin: auto;
    padding: 5px;
  }
  #activites .cardsection {
    display: block;
    height: auto;
  }
  #activites .cardsection > div {
    height: 180px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  #activites .imgmed {
    object-fit: cover;
    width: 100%;
    height: 72%;
  }
  /* Footer */
  .footer {
    flex-direction: column;
    padding-left: 5px;
  }
}
@media all and (min-width: 481px) and (max-width: 991px) {
  .menu {
    right: 0px;
  }
  .filters {
    display: inline-block;
  }
  .filterchoice {
    margin-bottom: 10px;
  }
  /*section2 carte hébergements et activités*/
  .section2 {
    flex-direction: column;
  }
  #hebergements {
    width: auto;
    border: none;
  }
  .highlights {
    margin: auto;
    margin-top: 20px;
  }
  /*article activités*/
  #activites .cardsection {
    grid-template: 440px 180px 180px / 1fr 1fr;
    height: auto;
  }
  #activites .cardsection > div {
    margin: auto;
    max-width: 300px;
  }
  .vieuxport {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
  }
  .parcnat {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
  }
  .pomegues {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
  }
  .frioul {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
  }
  .ndg {
    grid-column: 1;
    grid-row: 3;
    height: 100%;
  }
  .longchamp {
    grid-column: 2;
    grid-row: 3;
    height: 100%;
  }
}
