
/* aide visionnage a supprimer */
html{
    border:1px solid blue;
 }
body{
    border:1px solid red;
}

/*fin aide */
*{
    font-family: 'Raleway', Arial, Georgia, sans-serif;
}
.grey{
    background-color: #F2F2F2;
}
.colorblue{
    color: #0065FC;
}
.colorgrey{
    color:#F2F2F2
}
a{
    text-decoration: none;
    color: black;
}
.contenu{
    max-width:1440px;
}
/* header*/
.menu{
    height: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    align-items: center;
}
.inscription{
    font-weight: bold;
    color:#0065FC;
}
.parthebergements:hover{
    color:#0065FC;
    border-top: 2px #0065FC solid;
    color: #0065FC;
    padding: 40px 0;
} 
.partactivites:hover{
    color:#0065FC;
    border-top: 2px #0065FC solid;
    color: #0065FC;
    padding: 40px 0;
} 
/*section 1 recherche et filtres*/
/*Barre de recherche */
.search{
    display: flex;
    height: 50px;
    width:33%;
}
.fa-map-marker-alt{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height:35px;
    padding: 15px 15px 0px 15px;
}
.zonesearch{
    display: flex;
    border: 1px solid #F2F2F2;
    border-right: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100%;
    width: auto;
}
#rechercher{
    border: none;
    font-weight: bold;
    padding-left: 15px;
    width: 220px;
}
#rechercher::placeholder{
    color: black;
}
.iconesearch{
    width:auto;
}
.boutonsearch{
    height: 100%;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 130px;
}
.loupe{
    display: none;
}
/* Les filtres */
.filters{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 30px;
}
.noborder{
    font-weight: bold;
    margin-right: 20px;
}
.filterchoice{
    display: inline-block;
    height: 44px;
    border: 2px solid #F2F2F2;
    border-radius: 44px;
    border-left: none;
    margin-right: 20px;
    padding-bottom:1px;
}
.filtericone{
    display: inline-block;
    height: 100%;
    width: 44px;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 44px;
}
.filterselection .fas{
    padding: 13px;
}
.option{
    color: black;
    font-weight: bold;
    padding: 0 15px 0 3px;
}
.option:hover{
    color: #0065FC;
    font-weight: bold;
    text-shadow: 6px 3px 3px rgb(95, 104, 133);
}
/*Zone info under filter */
.fa-info{
    font-size: 0.75em;
    color: #0065FC;
}
.fa-circle{
    color:#F2F2F2;
}
/* Section 2 */
.section2{
    display: flex;
}
.section2 .fa-star{
    font-size: 0.75em;
}
/*carte hébergement */
#hebergements{
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    width: 800px;
    padding: 0 30px;
}
#hebergements .cardsection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 450px;
}
#hebergements .card{
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    overflow: hidden;
    width: 230px;
    height: 180px;
}
#hebergements .imgmini{
    height: 110px;
    width: 100%;
    object-fit: cover;
}
#hebergements .description{
    padding:5px 0 0 8px;
}
.plus{
    font-weight: bold;
}
/* aside */
.highlights{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 15px;
    margin:auto;
}
.highlights .card{
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    height: 130px;
    width:330px;
    overflow: hidden;
    margin: auto;  
    display: flex;
}
.highlights .imgmini{
    width: 130px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.highlights .description{
    margin-left:20px;
    width:170px;
}
.highlights .starsicone{
    padding-top: 15px;
}
/*carte activites*/
#activites .cardsection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
}
.vieuxport{
    grid-column: 1;
    grid-row:1 / span 2;
}
.pomegues{
    grid-column: 2;
    grid-row: 1;
}
.frioul{
    grid-column: 2;
    grid-row: 2;
}
.parcnat{
    grid-column: 3;
    grid-row: 1 / span 2;
}
.ndg{
    grid-column: 4;
    grid-row: 1;
}
.longchamp{
    grid-column: 4;
    grid-row: 2;
}
#activites{
    height: 540px;
}
#activites .cardsection > div{
    border: 1px solid #F2F2F2;
    box-shadow:3px 3px 5px #F2F2F2;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: auto;
}
#activites .imgmini{
    object-fit: cover;
    width: 100%;
    height: 150PX;
}
#activites .imgmed{
    object-fit: cover;
    width: 100%;
    height: 400px;
}
#activites .card > .titre{
    padding-left: 10px;
}
/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 480px)
{
    .menu{
        grid-template-columns: 1fr 1fr ;
        border-bottom: 2px solid #F2F2F2;
    }
    .inscription{
        grid-row: 1;
        grid-column: 2;
        text-align: end;
        padding-right:20px;
    }
    .parthebergements:hover{
        color:#0065FC;
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
        border-top: none;
        padding: 18px 0;
    } 
    .partactivites:hover{
        color:#0065FC;
        border-bottom: 2px #0065FC solid;
        color: #0065FC;
        border-top: none;
        padding: 18px 0;
    } 
    .search{
        justify-content: center;
        width: auto;
     }
     .zonesearch{
         width: auto;
     }
     .loupe{
        display: inline-block;
        color: white;
        background-color: #0065FC;
        height: 100%;
        border: 1px #0065FC solid;
        border-radius:15px;
        width: 50px;
    }
     .boutonsearch{
         display: none;
     }
    .filters{
        display: inline-block;
        width: auto;
    } 
    .filterchoice{
        margin-bottom: 15px;
        height: auto;
    }
    .section2{
        flex-direction: column-reverse; 
        width: auto;
        margin: auto;
    }
    .highlights{
        border-radius: 0;
        margin: auto;
        width: auto;
    }
    #hebergements{
        height: 1250px;
        background: none;
        border: none;
    }
    #hebergements .cardsection{
        flex-direction: column;
        height: 90%;
    }
    #hebergements .card{
        border: 1px solid #F2F2F2;
        box-shadow:3px 3px 5px #F2F2F2;
        width:300px;
    }
    /*activités*/
    .section3{
        margin: auto;
        widows: auto;
    }
    #activites{
        height: 1300px;
    }
    #activites .cardsection{
        height: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    #activites .imgmed{
        object-fit: cover;
        width: 100%;
        height: 150PX;
    }
    /* Footer */
    .footer{
        flex-direction: column; 
        margin: auto;
    }
}
@media all and (min-width: 481px) and (max-width: 991px)
{  
    .filters{
        display: inline-block;
    } 
    .section2{
        flex-direction: column;
        margin: auto;
    }

}
