@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf'),
        url('Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

*{
    font-family: 'Raleway', Arial, Georgia, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;

}
h1{
    display: none;
}
nav{
    display: flex;
    list-style-type: none ;
}

a
{
    text-decoration: none;

}
a:focus{
    text-decoration: overline;
    color: #0065FC;
}
a:hover{
    text-decoration: overline;
    color: #0065FC;
}    

.search{
    border: 1px #F2F2F2 solid;
    border-radius: 8px;

}
.filter{
    text-align: justify;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
}

