@font-face{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf'),
        url('Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

body{
    font-family: 'Raleway', Arial, Georgia, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.grey{
    background-color: #F2F2F2;
}
/* header*/

/* Pour sémentique  */
h1{
    display: none;
}
#contenair{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.logo{
    margin-right: auto;
}
.partbottom{
    color: black;
}
.parttop{
    font-weight: bold;
    color:#0065FC;
}
header a{
    text-decoration: none;
    padding: 25px;
}
header a:active{
    border-top: 2px #0065FC solid;
    color: #0065FC;
}
header a:hover{
    border-top: 2px #0065FC solid;
    color: #0065FC;
}   

/*section 1 recherche */

#section1{
    width: 75%;
}
.search{
    height: 50px;
    display: inline-block;
}

/*Barre de recherche */
.float{
    float: left;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 10px;
    height:49px;
    width: 50px;
}
#rechercher{
    height: 100%;
    border: 1px #F2F2F2 solid; 
}
.boutonsearch{
    height: 100%;
    width: auto;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: 1px solid #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -5px;
}
form + p{
    clear: both;
}

/* Les filtres */
#section1 a{
    text-decoration: none;
    color: black;
}
#filterselect{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    height: 50px;
}
.filter{
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    border: 2px #F2F2F2 solid;
    border-radius: 35px;
}
.filtericone{
    vertical-align: middle;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
.filter:hover{
    background-color: #F2F2F2;
    font-size: 1.1em;
    box-shadow: -3px -6px 10px #0065FC inset;
    border: 3px #DEEBFF dashed;
}

/* Footer */


/* comportement responsive */

@media all and (max-device-width: 480px){/* Media queries pour responsive header */

    /* Header */
    #contenair{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #contenair :nth-child(1){
        order: -1;
    }
    #contenair :nth-child(4){
        order: -1;
    }

    header a:active{
        border-top: none;
        border-bottom: 2px #0065FC solid;
    }
    header a:hover{
        border-top: none;
        border-bottom: 2px #0065FC solid;
    }  

    /*section 1 recherche et filtres */
    .search{
        width: auto;
        display: flex;
        justify-content: center;
     }

    }
    #filterselect{
        height: 250px;
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #filterselect :nth-child(1){
        flex: 1;
    } 
}